<form method="post">
    <input type="text" name="id" value="<%= user.id %>" hidden>
    <input type="name" name="name" placeholder="name" value="<%= user.name %>"> <br>
    <input type="email" name="email" placeholder="email" value="<%= user.email %>"> <br>
    <input type="text" name="city" placeholder="city" value="<%= user.city %>"> <br>
    <button formaction="bai1/insert">Insert</button><button formaction="bai1/update">Update</button><a href="bai1">reset</a>
</form>