<a class="card container-fluid nav-link" href="/lab4/bai3">
    <img class="card-img-top" src="<%= img %>" alt="Card image" style="width:100%">
    <div class="card-body">
        <h4 class="card-title">
            <%= name %>
        </h4>
    </div>
</a>