<div class="container mt-3">
    <h2>User List</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Remember?</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(element => { %>
             <tr>
                <td><%= element.name %></td>
                <td><%= element.password %></td>
                <td><%= element.remember==true?"Yes":"No" %></td>
             </tr>
            <% }) %>
        </tbody>
    </table>
</div>