<!DOCTYPE html>
<html lang="en">

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<meta charset="utf-8">
	<title>Insert title here</title>
</head>

<body>
	<h1>User Management</h1>
	<p></p>
	<%- include('bai2form') %>
		<hr>
		<hr>
		<%- include('bai2table') %>
</body>

</html>