<form action="bai1" method="post">
    <input type="text" placeholder="canh a" name="a"><br>
    <input type="text" placeholder="canh b" name="b"><br>
    <input type="text" placeholder="canh c" name="c"><br>
    <button formaction="bai1/dientich">tinh dien tich</button><button formaction="bai1/chuvi">tinh chu vi</button>
    <%= message %>
</form>