<form action="bai1" method="post" enctype="multipart/form-data">
    Hình ảnh: <input type="file" name="photo"><br>
    Tài liệu: <input type="file" name="doc"><br>
    <hr>
    <button>Upload</button>
</form>