<h3>Register</h3>
<form action="bai2" method="post">
    <input type="text" name="name" placeholder="username"><br>
    <input type="password" name="password" placeholder="password"><br>
    Gioi tinh<input type="radio" value="male" name="gender">Nam <input value="female" type="radio" name="gender">Nu <br>
    Quoc tich <select name="country" id="">
        <option value="US">Amerian</option>
        <option value="VN">VietNam</option>
    </select><br>
<input name="hobbies" type="checkbox" value="R">Đọc sách
<input name="hobbies" type="checkbox" value="T">Du lịch
<input name="hobbies" type="checkbox" value="M">Âm nhạc
<input name="hobbies" type="checkbox" value="O">Khác<br>
    Ghi chu:<textarea name="note" id="" cols="30" rows="10"></textarea><br>
    <button>submit</button>
</form>