<mark><%= message %></mark>
<form action="bai4" method="post">
    Username: <input name="username" value="<%= username %>"><br>
    Password: <input name="password" value="<%= password %>" type="password"><br>
    <input name="remember" type="checkbox">Remember me?
    <hr>
    <button>Login</button>
</form>