<h2>Send Mail</h2>
<mark><%= message %></mark>
<form action="bai5" method="post">
    From: <input type="email" name="from" value="<%= from %>"> <br>
    To: <input type="email" name="to"><br>
    Subject: <input type="text" name="subject"><br>
    Body: <textarea id="" cols="30" rows="10" name="body"></textarea><br>
    <hr>
    <button>Send</button>
</form>
