<form action="bai6" method="post">
    <h4>Thong tin hinh chu nhat</h4>
    <input type="text" placeholder="chieu dai" name="dai"> <br>
    <input type="text" placeholder="chieu rong" name="rong"><br>
    <button>Tinh</button>
</form>